body {
    height: 100vh;
    width: 100vw;
}

.logo {
    width: 100%;
    height: 150px;
    
}

#logo {
    width: 150px;
}

header {
    height: 200px;
    width: 100%;
    grid-area: header;
    text-align: center;
    justify-content: center;

}

.bars {
    display: none;
    height: 20px;
    width: 20px;
    margin-right: none;

}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  main {
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows: auto;
      width: 75%;
      margin: auto;
      justify-content: space-evenly;
      height: 100vh;
      grid-area: main;
      
      
  }

  .img-container {
      margin: 5px;
      margin-top: auto;
      padding-bottom: 0;
      margin-bottom: 10px;
      height: 315px;
  }

  #img {
      width: 100%;
      height: 100%;
      
      
      
  }

  #img:hover {
      opacity: 50%;
  }

  .text-block {
    position: relative;
    bottom: 100px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }



  footer {
    grid-area: footer;
    width: 100%;
    background-color: #555555;
    margin:0;
    position: fixed;
    bottom: 0px;
}

footer > p {
    text-align: start;
    margin: 0;
    align-content: flex-start;
} 

.social {
    height: 20px;
    width: 20px;
    justify-content: flex-end;
    
}

.social:hover {
    cursor: pointer;
    
    
}

@media (max-width: 1024px){
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
}

    main {
        grid-template-columns: 1fr 1fr;
    }


    .text-block {
        font-size: 12px;
    }

    nav {
        display: none;
}


    .bars {
        display: block;
        align-items: center;
        margin-left: 50%;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    #message {
        height: 100px;
    }

    form {
        background-color: white;
    }

    #img {
        width: 100%;
    }
}

@media (max-width: 700px) {

    main {
        display: grid;
        grid-template-columns:1fr;
    }

    .text-block {
        font-size: 12px;
    }
}